:root {
  --primary: hsl(246, 80%, 60%);
  --primary-work: hsl(15, 100%, 70%);
  --primary-play: hsl(195, 74%, 62%);
  --primary-study: hsl(348, 100%, 68%);
  --primary-exercise: hsl(145, 58%, 55%);
  --primary-social: hsl(264, 64%, 52%);
  --primary-self_care: hsl(43, 84%, 65%);

  --neutral-very_dark_blue: hsl(226, 43%, 10%);
  --neutral-dark_blue: hsl(235, 46%, 20%);
  --neutral-desaturated_blue: hsl(235, 45%, 61%);
  --neutral-pale_blue: hsl(236, 100%, 87%);

  --font-rubik: 'Rubik', sans-serif;

  --font_weight-300: 300;
  --font_weight-400: 400;
  --font_weight-500: 500;

  --fs-15: 0.9375rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-56: 3.5rem;
}

* {
  &::before, &::after {
    box-sizing: border-box;
  }
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;

    &::before, &::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-rubik);
  font-weight: var(--font_weight-400);
  background-color: var(--neutral-very_dark_blue);
}

p {
  font-size: var(--fs-18);
  font-weight: var(--font_weight-300);
}

h1 {
  font-size: var(--fs-56);
  font-weight: var(--font_weight-300);
  line-height: 1;
}

h2 {
  font-size: var(--fs-40);
  font-weight: var(--font_weight-300);
  line-height: 1.5;
}

h1, h2 {
  color: #fff;
}

.bg-100 {
  background: var(--primary-work);
}

.bg-200 {
  background: var(--primary-play);
}

.bg-300 {
  background: var(--primary-study);
}

.bg-400 {
  background: var(--primary-exercise);
}

.bg-500 {
  background: var(--primary-social);
}

.bg-600 {
  background: var(--primary-self_care);
}

.bg-700 {
  background: var(--primary);
}

.bg-neutral-400 {
  background: var(--neutral-dark_blue);
}

.text-white {
  color: #fff;
}

.text-desaturated-blue {
  color: var(--neutral-desaturated_blue);
}

.text-pale-blue {
  color: var(--neutral-pale_blue);
}

.fw-300 {
  font-weight: var(--font_weight-300);
}

.fw-400 {
  font-weight: var(--font_weight-400);
}

.fw-500 {
  font-weight: var(--font_weight-500);
}

.active {
  color: #fff;
}

.grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  width: min(87%, 70rem);
  padding-block: 2rem;

  margin-inline: auto;

  grid-template-areas: 'profile' 'work' 'play' 'study' 'exercise' 'social' 'self-care';
  gap: 2rem;
}

.dashboard__widget {
  border-radius: 1rem;
  overflow: hidden;
}

.dashboard__profile {
  .profile__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2.25rem;
    border-radius: 1rem;
  }

  .profile-image {
    width: 4rem;
    border-radius: 50%;
    border: 4px solid #fff;
  }

  .profile__info p {
    font-size: var(--fs-15);
  }

  .profile__footer p:hover {
    cursor: pointer;
    color: #fafafa;
  }

  .profile__info h2 {
    font-size: var(--fs-24);
  }

  .profile__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem;
  }
}

.dashboard__widget {
  .dashboard__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4.5rem;
  }

  .icon-image {
    margin-top: -1.25rem;
    margin-right: 1rem;
    width: 4.875rem;
  }
}

.dashboard__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  z-index: 1;

  &:hover {
    cursor: pointer;
    background-color: var(--neutral-desaturated_blue);
  }

  .dashboard__footer--nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard__footer--foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: var(--fs-32);
    }
  }
}

/* Grid Areas */

.dashboard__widget {
  &:nth-child(1) {
    grid-area: profile;
  }

  &:nth-child(2) {
    grid-area: work;
  }

  &:nth-child(3) {
    grid-area: play;
  }

  &:nth-child(4) {
    grid-area: study;
  }

  &:nth-child(5) {
    grid-area: exercise;
  }

  &:nth-child(6) {
    grid-area: social;
  }

  &:nth-child(7) {
    grid-area: self-care;
  }
}

@media only screen and (min-width: 48em) {
  .grid-container {
    grid-template-areas: 'profile profile' 'work play' 'study exercise' 'social self-care';
  }
}

@media only screen and (min-width: 75em) {
  .grid-container {
    grid-template-areas: 'profile work play study' 'profile exercise social self-care';
  }

  .dashboard__profile {
    .profile__header {
      flex-direction: column;
      align-items: flex-start;
      padding: 2.25rem 2.25rem 5rem 2.25rem;
      gap: 2.5rem;
    }

    .profile__info h2 {
      font-size: var(--fs-40);
      line-height: 1;
    }

    .profile__footer {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      padding: 2.25rem;
    }
  }

  .dashboard__footer {
    padding: 1.75rem;

    .dashboard__footer--foot {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      h1 {
        font-size: var(--fs-56);
      }
    }
  }
}