.dashboard__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 4.5rem;
}

.icon-image {
  margin-top: -1.25rem;
  margin-right: 1rem;
  width: 4.875rem;
}

.dashboard__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  z-index: 1;

  &:hover {
    cursor: pointer;
    background-color: var(--neutral-desaturated_blue);
  }

  .dashboard__footer--nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard__footer--foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: var(--fs-32);
    }
  }
}

@media only screen and (min-width: 75em) {
   .dashboard__footer {
    padding: 1.75rem;

    .dashboard__footer--foot {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      h1 {
        font-size: var(--fs-56);
      }
    }
  }
}