.dashboard__widget {
  border-radius: 1rem;
  overflow: hidden;
}

.dashboard__widget {
  &:nth-child(1) {
    grid-area: profile;
  }

  &:nth-child(2) {
    grid-area: work;
  }

  &:nth-child(3) {
    grid-area: play;
  }

  &:nth-child(4) {
    grid-area: study;
  }

  &:nth-child(5) {
    grid-area: exercise;
  }

  &:nth-child(6) {
    grid-area: social;
  }

  &:nth-child(7) {
    grid-area: self-care;
  }
}