:root {
  --primary: hsl(246, 80%, 60%);
  --primary-work: hsl(15, 100%, 70%);
  --primary-play: hsl(195, 74%, 62%);
  --primary-study: hsl(348, 100%, 68%);
  --primary-exercise: hsl(145, 58%, 55%);
  --primary-social: hsl(264, 64%, 52%);
  --primary-self_care: hsl(43, 84%, 65%);

  --neutral-very_dark_blue: hsl(226, 43%, 10%);
  --neutral-dark_blue: hsl(235, 46%, 20%);
  --neutral-desaturated_blue: hsl(235, 45%, 61%);
  --neutral-pale_blue: hsl(236, 100%, 87%);

  --font-rubik: 'Rubik', sans-serif;

  --font_weight-300: 300;
  --font_weight-400: 400;
  --font_weight-500: 500;

  --fs-15: 0.9375rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-56: 3.5rem;
}

* {
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;

    &::before,
    &::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-rubik);
  font-weight: var(--font_weight-400);
  background-color: var(--neutral-very_dark_blue);
}

p {
  font-size: var(--fs-18);
  font-weight: var(--font_weight-300);
}

h1 {
  font-size: var(--fs-56);
  font-weight: var(--font_weight-300);
  line-height: 1;
}

h2 {
  font-size: var(--fs-40);
  font-weight: var(--font_weight-300);
  line-height: 1.5;
}

h1,
h2 {
  color: #fff;
}

// BACKGROUNDS

.bg-700, .bg-primary {
  background: var(--primary);
}

.bg-100, .bg-work {
  background: var(--primary-work);
}

.bg-200, .bg-play {
  background: var(--primary-play);
}

.bg-300, .bg-study {
  background: var(--primary-study);
}

.bg-400, .bg-exercise {
  background: var(--primary-exercise);
}

.bg-500, .bg-social {
  background: var(--primary-social);
}

.bg-600, .bg-selfcare {
  background: var(--primary-self_care);
}

.bg-very_dark_blue {
  background: var(--neutral-very_dark_blue);
}

.bg-neutral-400, .bg-dark_blue {
  background: var(--neutral-dark_blue);
}

.bg-desaturated_blue {
  background: var(--neutral-desaturated_blue);
}

.bg-pale_blue {
  background: var(--neutral-pale_blue);
}

// TEXT-COLOR

.text-white, .active {
  color: #fff;
}

.text-desaturated-blue {
  color: var(--neutral-desaturated_blue);
}

.text-pale-blue {
  color: var(--neutral-pale_blue);
}

// FONT-WEIGHT

.fw-300 {
  font-weight: var(--font_weight-300);
}

.fw-400 {
  font-weight: var(--font_weight-400);
}

.fw-500 {
  font-weight: var(--font_weight-500);
}